<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.uestc.attendance.dao.UserMapper">
	<resultMap type="int" id="LoginMap">
		<result column="result" property="result" />
	</resultMap>
	
	<resultMap type="edu.uestc.attendance.dao.UserEntity" id="UerMap">
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="im" column="im"/>
		<result property="telphone" column="telphone"/>
		<result property="usertype" column="type"/>
		<result property="id" column="id"/>
	</resultMap>
	
	<!-- usertype 0-admin,1-student,2-teacher -->
	<select id="checkLogin" resultMap="LoginMap" resultType="int">
		select 
			count(*) as result 
		from 
			<if test="usertype == 0">administrators where admin_id =#{id} and password=#{pass}</if>
			<if test="usertype == 1">students where student_id =#{id} and password=#{pass}</if>
			<if test="usertype == 2">teachers where teacher_id =#{id} and password=#{pass}</if>
	</select>
	
	<!-- usertype 0-admin,1-student,2-teacher -->
	<select id="getItem" resultMap="UerMap" resultType="edu.uestc.attendance.dao.UserEntity">
		select im,email,telphone,name,
			<if test="usertype == 0">0 as type,admin_id as id from teachers where admin_id=#{id}</if> 
			<if test="usertype == 1">1 as type,student_id as id from teachers where student_id=#{id}</if>
			<if test="usertype == 2">2 as type,teacher_id as id from teachers where teacher_id=#{id}</if>
	</select>
	
</mapper>
