<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
		<mappers>  
		    <mapper resource="edu/uestc/attendance/dao/UserMapper.xml" />  
		    
		    
		    <mapper resource="edu/uestc/attendance/dao/common/PickedCourseMapper.xml" /> 
		    <mapper resource="edu/uestc/attendance/dao/common/AttendanceMapper.xml" />  
		    
		    
		    <mapper resource="edu/uestc/attendance/dao/student/StudentMapper.xml" />  
		    <mapper resource="edu/uestc/attendance/dao/student/TeachMessageMapper.xml" />  
		    
		    
		    
		    <mapper resource="edu/uestc/attendance/dao/teacher/TeacherMapper.xml" /> 
		    <mapper resource="edu/uestc/attendance/dao/teacher/TeachMessageMapper.xml" />
		</mappers>  
	</configuration>