<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
		<mappers>  
		    <mapper resource="edu/uestc/attendance/dao/TeacherMapper.xml" />  
		    <mapper resource="edu/uestc/attendance/dao/LoginMapper.xml" />  
		    <mapper resource="edu/uestc/attendance/dao/StudentMapper.xml" />  
		</mappers>  
	</configuration>